

*{
	margin: 0;
	box-sizing: border-box;
}


section{
	background-color: #fff;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.container-fluid{
	
	position: absolute;
	

}

.calculator{
	background-color: black;
	
	border-radius: 5px;
	position: relative;
	display: grid;
	padding: 10px;
	box-shadow: 6px 6px 10px #cbced1,
	 			-6px -6px 10px #ffffff
}

.calculator .value{
	grid-column: span 7;
	height: 100px;
	text-align: right;
	border: none;
	outline: none;
	padding-right: .5rem;
	background:#ecf0f3;
	border-radius: 12px;
	font-size: 18px;
	position: relative;
	box-shadow: inset 8px 8px 8px #cbced1,
				inset -8px -8px 8px #ffffff
}

.prevResult{
	position: absolute;
	top: 70px;
	left: 20px;
	font-size: 25px;
	
}


.calculator span{
	display: grid;
	width: 65px;
	height: 60px;
	font-size: 25px;
	background: #29617e;
	place-items: center;
	outline: none;
	border: 2px solid rgba(0, 0, 0,.1);
	cursor: pointer;
	margin: 4px;
	padding: 10px;
	box-shadow: 5px 5px 8px #00000020,
		   -5px -5px 8px #ffffff
}


.calculator span:active{
	
	color: #111;
	transform: scale(.8);
}

.calculator span.clear{
	grid-column: span 2;
	width: 130px;
	background: #ff3077;
}


.calculator span.plus{
	grid-row: span 2;
	height: 120px;
}

.calculator span.equal{
	grid-column: span 2;
	width: 130px;
	background: #03b1ff;
}


.calculator span.zero{
	grid-column: span 2;
	width: 130px;
}

.calculator span.exp{
	grid-row: span 2;
	height: 120px;
}


